body {
    background-color: black;

}

* {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    flex-direction: column;

}

.header {
    background-color: #4BABA9;
    background-color: (0, 255, 255, 0.5);
    width: 100%;
    height: 10vh;
    position: fixed;

}

.main {
    height: 90vh;
    background: url(../img/start.jpg) center no-repeat;
    background-size: cover;

}

.friends {
    height: 100vh;
    background: url(../img/Friends.png) center no-repeat;
    background-size: cover;

}

.ruta {
    height: 10vh;
}