a:link, a:visited {
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: ghostwhite;
}
a:active {
    color: ghostwhite;
}
/*LÄNK STYLING OVAN*/

@font-face{
    font-family: "geonms-webfont";
    src: url('geonms-webfont.ttf'),
    url('geonms-webfont.eot'); /* IE */
}

body {
    background-color: black;
}

p, a {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'geonms-webfont';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.title {
    font-size: 10vh;
    padding-bottom: 80px;
}

.title_s {
    font-size: 7vh;
    padding-bottom: 80px;
}

.title_scroller2 {
    padding-bottom: 0px;
    font-size: 10vh;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    /*background-color: #73BEAA; */
    background: url(../img/TOP-BAR.png) center;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
    width: 100%;
    height: 45px;
    position: fixed;
}

.main {
    height: 100vh;
    width: 100vw;
    background: url(../img/start.jpg) center no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: fixed;
    display: flex;
    z-index: -1;
}

.text_container {
    text-align: center;
}

.friends_flexbox1 {
    flex-grow: 1;
    width: 100%;
    height: 33%;
}

.friends_flexbox2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 33%;
}

.friends_flexbox3 {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:flex-end;
    width: 100%;
    height: 33%;
}

.asterix {
    font-size: 2vh;
    padding: 10px;
}

.scroller1, .scroller2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.scroller2 {
    height: 40vh;
}

.friends, .explore, .unique {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-size: cover;
}

.friends {
    background: url(../img/Friends.png) center no-repeat;
    box-shadow: 0px -2px 18px 0px rgba(0,0,0,0.75);
    background-size: cover;
}

.explore {
    background: url(../img/explore2.jpg) center no-repeat;
    background-size: cover;
}

.unique {
    background: url(../img/animal2.jpg) center no-repeat;
    background-size: cover;
}

.footer {
    height: 20vh;
    background-color: #5B9687;

}