a:link, a:visited {
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: ghostwhite;
}
a:active {
    color: ghostwhite;
}
/*LÄNK STYLING OVAN*/

body {
    background-color: black;
}

p{
    color: white;
    font-family: GeosansLight-NMS;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);

}

.title {
    font-size: 12vh;
    padding-bottom: 80px;
}

.title_main {
    font-size: 12vh;
    padding-bottom: 80px;
    letter-spacing: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    /*background-color: #73BEAA; */
    background: url(../img/TOP-BAR.png) center;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
    width: 100%;
    height: 45px;
    position: fixed;
    display: flex;
    flex-direction: row;
    opacity: 0.9;
}

.link, .link_logo {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: all 0.5s ease;
}

.link_logo {
    justify-content: flex-start;

}

.header_text {
    font-family: GeosansLight-NMS;
    text-align: center;
    color: white;
    font-size: 1em;

}

.link:hover {
    opacity: 0.5;
}

.flexbox1, .flexbox2, .flexbox3, .arrow_flexbox3 {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.logo {
    width: 50px;
    opacity: 1.0;
}

.flexbox3 {
    justify-content:flex-end;
    align-items:flex-end;
}

.arrow_flexbox3 {
    justify-content:flex-end;
    margin-bottom: 30px;

}

.asterix {
    font-size: 2.5vh;
    padding: 10px;
}

.friends, .explore, .unique, .main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-size: cover;
    text-align: center;
    font-family: GeosansLight-NMS;
}

.main {
    height: 100vh;
    background: url(../img/start.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;

    overflow: hidden;
}

.friends {
    background: url(../img/Friends.png) center no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,1);
    z-index: 1;
}

.explore {
    background: url(../img/explore.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.unique {
    background: url(../img/animal2.jpg) center no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,1);
    z-index: 1;
}

video {
    z-index: -1;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;

}

.footer {
    height: 20vh;
    background-color: #5B9687;

}